<h2>Blog</h2>

<hr>

{{#each postagens}}
    <div id="publicacoes">
        <div class="pub-area">
            <div class="container-fluid">
                 <div class="row">
                    <div class="col-md-9">   
                            <a href="/usuario/listaCategoria/{{categoria._id}}"><p class="categoria">{{categoria.nome}}</p></a>

                            <a href="/usuario/blog/lista/{{_id}}"><h3>Título: {{this.titulo}}</h3></a>

                            <span class="postado-em">Publicado em {{#formatDate postagem.data}}{{/formatDate}}</span>

                            <a href="/usuario/blog/lista/{{_id}}"><small><img src="/upload/{{this.img}}" alt="" id="imagem"></small></a> 

                            <div id="previa">

                            
                            </div>
                            <hr>
                    </div>
                    
                </div> 
            </div> 
        </div>
    </div>                    
{{else}}
    <p>Nenhuma postagem registrada</p>
  
{{/each}}

